* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --theme-text: #ffffff;
}

body {
  background-color: #101010;
  font-family: "urw-din", sans-serif;
  color: var(--theme-text);
}

a {
  color: #d0e1f3;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #007bff;
}

a:visited {
  color: #446383;
}

header {
  background-color: #292929;
  padding: 1rem 0 .5rem 2rem;
  border-bottom: 1px solid gray;
}

header h1 {
  font-size: 2em;
  margin: 0;
  display: inline;
  padding-right: 1rem;
  text-shadow: 2px 2px 1px #010101;
}

header p {
  font-size: 1em;
  margin: 0;
  display: inline;
  text-decoration: underline;
}

nav {
  background: #292929;
  border-bottom: 1px solid gray;
}

nav ul {
  display: flex;
  padding: .5rem 1rem;
}

nav ul li {
  flex-direction: row;
  padding: 0 .5rem;
  list-style: none;
}

nav ul li a {
  color: #8f8f72;
}

nav ul li a:visited {
  color: #8f8f72;
}

article {
  margin: 1.5rem 2rem;
  border-radius: .5rem;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  letter-spacing: .015rem;
  max-width: 800px;
}

article * {
  margin: 1rem 0 0 0;
}

article h1,
article h2 {
  margin: 2.5rem 0 1rem 0;
}
article h3,
article h4,
article h5,
article h6 {
  margin: 2rem 0 1rem 0;
}

article p {
  line-height: 1.67;
}

article p code {
  color-scheme: dark;
  text-rendering: optimizeSpeed;
  accent-color: #5e9eff;
  overflow-wrap: break-word;
  letter-spacing: .02rem;
  box-sizing: border-box;
  animation-duration: .01ms !important;
  animation-iteration-count: 1 !important;
  scroll-behavior: auto !important;
  transition-duration: .01ms !important;
  border-radius: 0.25rem;
  background: #343434;
  padding: .125rem .25rem;
  width: fit-content;
}

article kbd {
  background-color: #eeeeee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
  margin: 0;
}

article table {
  table-layout: fixed;
  max-width: 100%;
  border-collapse: collapse;
  line-height: 1.67;
}

article th {
  background: #242728;
  padding: .5rem;
}

article td {
  border: 1px solid #282828;
  padding: .5rem;
}

article img {
  max-width: 100%;
  display: block;
  margin: 0;
  padding: .5rem 0;
}

article img[alt$=">"] {
  float: right;
  padding-left: 1rem;
}

article img[alt$="<"] {
  float: left;
  padding-right: 1rem;
}

article img[alt$="><"] {
  margin: auto;
  float: none !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

article pre {
  background-color: #222222;
  border: 1px solid #ddd;
  padding: .5rem;
  overflow-y: auto;
}

article blockquote {
  background: #202020;
  border-left: .5rem solid #ccc;
  padding: .5rem;
  font-weight: 400;
}

article blockquote>p {
  margin-top: 0;
}

article blockquote.alerts-tip:before {
  content: "Tip";
}

article blockquote.alerts-note:before {
  content: "Note";
}

article blockquote.alerts-important:before {
  content: "Important";
}

article blockquote.alerts-tip {
  background-color: #443f3f;
}

article blockquote.alerts-note {
  background-color: #425c8d;
}

article blockquote.alerts-warning {
  background-color: #8d6842;
}

article blockquote.alerts-important {
  background-color: #3f2525;
}

article ol li {
  list-style: decimal outside;
  vertical-align: baseline;
  margin: 0 0 0 2rem;
}

article ul li {
  list-style: disc outside;
  vertical-align: baseline;
  margin: 0 0 0 2rem;
}

footer {
  background-color: #272727;
  font-size: 0.8rem;
  padding: .5rem 2rem;
  text-align: right;
}