* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --theme-text: #ffffff;
  --theme-text-a-background-color: #138bee;
}

body {
  background-color: #151515;
  font-family: "urw-din", sans-serif;
  color: var(--theme-text);
}

header {
  background-color: #292929;
  padding: 1rem 0 .5rem 2rem;
  border-bottom: 1px solid gray;
}

header h1 {
  font-size: 2em;
  margin: 0;
  display: inline;
  padding-right: 1rem;
  text-shadow: 2px 2px 1px #010101;
}

header p {
  font-size: 1em;
  margin: 0;
  display: inline;
  text-decoration: underline;
}

nav {
  background: #292929;
  border-bottom: 1px solid gray;
}

nav ul {
  display: flex;
  padding: .5rem 1rem;
}

nav ul li {
  flex-direction: row;
  padding: 0 .5rem;
  list-style: none;
}

nav ul li a {
  color: #8f8f72;
}

nav ul li a:visited {
  color: #8f8f72;
}

.img-background-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #000000;
  background-color: rgba(0,0,0,.85); /* Black w/ opacity */
}

.img-background-modal .img-center-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.img-background-modal .img-center-modal img {
  margin: auto;
  display: block;
  max-width: 100%;
}

.img-background-modal .img-center-modal p.caption {
  margin-top: 1rem;
  text-align: center;
}

article div.archive-list {
  background-color: #222222;
  border: 1px solid #404040;
}

article div.archive-list h1 {
  width: 100%;
  padding: 0 0 0 .5rem;
  background-color: #404040;
  font-size: 1.15em;
  margin: 0;
}

article div.archive-list p {
  padding: .5rem;
  margin: .5rem 0 0 0;
}

article div.archive-list:hover {
  border-color: #5186ec;
  cursor: pointer;
}

article div.archive-list div.archive-info {
  background-color: #464768;
  padding: 0 0 0 .2rem;
  font-size: .65rem;
  margin: 0;
}


article {
  padding: 1.5rem 2rem;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  letter-spacing: .015rem;
  max-width: 800px;
  background-color: #1e1e1e;
  line-height: 1.67;
}

article * {
  margin: 1rem 0 0 0;
}

article h1 {
  margin: 0 0 1rem 0;
  font-weight: 500;
}

article h2 {
  margin: 2rem 0 1rem 0;
  font-weight: 700;
}

article h3,
article h4,
article h5,
article h6 {
  margin: 1.5rem 0 1rem 0;
  font-weight: 500;
}

article h2 {
  font-size: 2rem;
}

article h3 {
  font-size: 1.5rem;
}

article p code {
  color-scheme: dark;
  text-rendering: optimizeSpeed;
  accent-color: #5e9eff;
  overflow-wrap: break-word;
  letter-spacing: .02rem;
  box-sizing: border-box;
  animation-duration: .01ms !important;
  animation-iteration-count: 1 !important;
  scroll-behavior: auto !important;
  transition-duration: .01ms !important;
  border-radius: 0.25rem;
  background: #343434;
  padding: .125rem .25rem;
  line-height: 1.67;
  width: fit-content;
}

article a {
  color: var(--theme-text-a-background-color);
}

article a:visited,
article a:link {
  background-color: transparent;
  text-decoration: underline;
  text-decoration-color: var(--theme-text-a-background-color);
}

article a:hover,
article a:active {
  color: var(--theme-text);
  background-color: var(--theme-text-a-background-color);
  text-decoration: none;
}

article button {
  margin-top: 0;
  font-size: .65rem;
}

article input[type=checkbox] {
  margin: 0 .25rem 0 0;
}

article kbd {
  background-color: #eeeeee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1.15;
  padding: .125rem .25rem;
  white-space: nowrap;
  margin: 0;
}

article table {
  table-layout: fixed;
  max-width: 100%;
  min-width: 50%;
  border-collapse: collapse;
  line-height: 1.67;
}

article th {
  background: #242728;
  padding: .5rem;
}

article td {
  border: 1px solid #282828;
  padding: .5rem;
}

article img {
  max-width: 100%;
  display: block;
  margin: 0;
  padding: .5rem 0;
  cursor: pointer;
}

article img:hover {
  opacity: 0.7;
}

article img[alt$=">"] {
  float: right;
  padding-left: 1rem;
}

article img[alt$="<"] {
  float: left;
  padding-right: 1rem;
}

article img[alt$="><"] {
  margin: auto;
  float: none !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

article pre {
  counter-reset: line;
  background-color: #222222;
  border: 1px solid #404040;
  line-height: 1.15;
}

article pre code {
  display: block;
  padding: .65rem .5rem;
  font-size: 0.8em;
  overflow-x: auto;
  margin-top: 0;
}

article pre code .cl:after {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #dddddd;
  padding: 0 .5em 0 0;
  min-width: 1.5em;
  text-align: right;
  margin-right: .5em;
  color: #888888;
  font-style: normal;
}

article pre .code-header {
  display: inline-block;
  width: 100%;
  padding: .2rem .2rem .2rem 1rem;
  background-color: #404040;
  margin: 0;
}

article pre .code-header button {
  float: right;
  display: block;
  font-size: .85rem;
}

article pre .code-header button.code-select-button:before {
  content: "❐";
  padding-right: .2rem;
}

article blockquote {
  background: #202020;
  border-left: .5rem solid #ccc;
  padding: .5rem;
  font-weight: 400;
  line-height: 1.15;
}

article blockquote p {
  margin-top: .5rem;
}

tag:before {
  content: "🔖"
}

article blockquote p:nth-child(1) {
  display: inline;
}

article blockquote.alerts-tip:before {
  content: "⚐ Tip: ";
}

article blockquote.alerts-note:before {
  content: "ⓘ Note: ";
}

article blockquote.alerts-important:before {
  content: "⚠ Important: ";
}

article blockquote.alerts-tip {
  background-color: #2e4933;
  border-left: .5rem solid #406547;
}

article blockquote.alerts-note {
  background-color: #1f303a;
  border-left: .5rem solid #314b5b;
}

article blockquote.alerts-warning {
  background-color: #8d6842;
  border-left: .5rem solid #a97c4f;
}

article blockquote.alerts-important {
  background-color: #3f2525;
  border-left: .5rem solid #603838;
}

article ol li {
  list-style: decimal outside;
  vertical-align: baseline;
}

article ul li {
  list-style: disc outside;
  vertical-align: baseline;
}

article li {
  margin: .5rem 0 0 2rem;
  line-height: 1.15;
}

footer {
  background-color: #272727;
  font-size: 0.85rem;
  padding: .5rem 2rem;
  text-align: right;
}